@import '../../common';
@import '~foundation-sites/scss/components/accordion';

@include foundation-accordion;

.accordion-item {
  border-bottom: $accordion-content-border;
}

.accordion-title {
  border-bottom: 0;
}

.accordion-content {
  border-bottom: 0;
  border-top: $accordion-content-border;
}
