.reveal {
  display: block;
  left: 50%;
  margin: 0;
  top: 50%;
  transform: translate(-50%, -50%);

  &.full {
    left: 0;
    top: 0;
    transform: translate(0, 0);
  }
}

.reveal-overlay {
  display: block;
}
