@import '../../common';
@import '~foundation-sites/scss/components/reveal';

@include foundation-reveal;

.reveal {
  left: 50%;
  margin: 0;
  top: 50%;
  transform: translate(-50%, -50%);

  &.full {
    left: 0;
    top: 0;
    transform: translate(0, 0);
  }
}
